
.list-button {
  width: 98%;
  margin-bottom: 5%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  @media (max-width: 700px) {
    font-size: 6pt;
    text-align: center;
  }
}

.list-back-button {
  border-radius: 3px;
  width: 98%;
  margin-bottom: 5%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  @media (max-width: 700px) {
    font-size: 10pt;
    text-align: center;
  }
}
